/* ============================================= */

/*              about                            */

/* ============================================= */

.about {
    margin-bottom: 7rem;
    &-pic {
        display: block;
        margin: auto;
        margin-top: 8rem;
        width: 100%;
    }
    &-description {
        @include center;
        background: $white;
        width: 75%;
        h2 {
            margin: 3rem 0 2rem;
        }
        p {
            margin: 0;
            color: $text-light;
        }
    }
}
