/* ============================================= */
/*              Footer                           */
/* ============================================= */

.footer {
    background: $babish-black;
    padding: 2rem 2rem;
    text-align: center;
    color: white;
    &-title {
        font-family: "Josefin Sans";
        text-transform: lowercase;
        font-weight: 400;
    }
    &-nav {
        padding: 0;
        margin-top: 3rem;
        li {
            margin-top: 2rem;
        }
        li:nth-child(6) {
            margin: 4rem 0;
        }
    }
    .attribution {
        color: grey;
        font-weight: 200;
        font-family: "Josefin Sans";
    }
}
