/* ============================================= */
/*              Footer                           */
/* ============================================= */

.footer {
    background: black;
    padding: 2rem 2rem;
    text-align: center;
    color: white;
    &-title {
        font-family: "Josefin Sans";
        text-transform: lowercase;
        font-weight: 400;
    }
    &-nav {
        padding: 0;
        margin-top: 3rem;
        li {
            margin-top: 2rem;
        }
        li:nth-child(6) {
            margin-top: 4rem;
        }
    }
    .attribution {
        color: grey;
        font-weight: 200;
        font-family: "Josefin Sans";
        span {
            display: block;
            margin-top: 3rem;
        }
    }
}

.footer-nav-icon {
    padding: 0 0.5rem;
}
