/* ============================================= */

/*              Hamburger Menu                   */

/* ============================================= */

.hamburger {
    @include flexy($dir: column, $just: space-between);
    position: fixed;
    top: 65px;
    right: 7%;
    z-index: 1;
    cursor: pointer;
    height: 10px;
    width: 25px;
    &-top {
        border-radius: 5px;
        padding: 0 10px;
        height: 2px;
        transition: 0.2s;
        background-color: white;
    }
    &-bottom {
        border-radius: 5px;
        height: 2px;
        transition: 0.2s;
        background-color: white;
    }
}

.hamburger-x-top {
    transform: rotate(-45deg) translate(0, 5.5px);
}

.hamburger-x-bottom {
    transform: rotate(45deg) translate(0, -5.5px);
}
