/* ============================================= */

/*              Header                           */

/* ============================================= */

.hero {
    background-image: url("/images/mobile/image-hero.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
    color: white;
    &-nav {
        @include flexy($just: space-between, $align: center);
        margin: auto;
        padding-top: 2rem;
        width: 86.5%;
        h1 {
            z-index: 2;
            position: relative;
        }
        &-desktop {
            display: none;
        }
    }
    &-text {
        @include absoluteCenter;
        text-align: left; // mobile only
        font-size: 3rem;
        padding: 2rem;
        text-transform: uppercase;
        outline: 2px solid white;
        width: 80%;
    }
}

.flex-nav {
    @include flexy();
    li {
        margin-left: 2rem;
    }
}
