/* ============================================= */
/*              Header                           */
/* ============================================= */

.hero {
    background-image: url('/images/mobile/image-hero.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    color: white;
    &-nav {
        @include flexy($align: center, $just: space-between);
        padding-top: 2rem;
        margin: auto;
        width: 86.5%;
        &-desktop {
            margin-left: auto;
        }
    }
    &-text {
        @include absoluteCenter;
        font-size: 3rem;
        padding: 2rem;
        text-transform: uppercase;
        outline: 2px solid white;
        width: 80%
    }
}

.flex-nav {
    @include flexy();
    li {
        margin-left: 2rem;
    }
}

