/* ============================================= */


/*              Typography                       */


/* ============================================= */

body {
    font-family: "Josefin Sans";
    // font-family: 'Alata', sans-serif;
    font-size: 15px;
}

h1 {
    text-transform: lowercase;
}

ul,
li {
    list-style: none;
}